%meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}
%script{:src=> "https://www.gstatic.com/firebasejs/3.6.1/firebase.js"}
%script{:src=> "https://www.gstatic.com/firebasejs/3.6.1/firebase-app.js"}
%script{:src=> "https://www.gstatic.com/firebasejs/3.6.1/firebase-auth.js"}
%script{:src=> "https://www.gstatic.com/firebasejs/3.6.1/firebase-database.js"}
%script{:src=> "https://www.gstatic.com/firebasejs/3.6.1/firebase-messaging.js"}
%script{:src=> "script/jquery-3.1.1.min.js", :type=> "text/javascript"}
%script{:src=> "script/jquery-ui-1.12.1/jquery-ui.min.js", :type=> "text/javascript"}
%script{:src=> "script/jquery.ui.touch-punch.min.js", :type=> "text/javascript"}

%script{:src=> "script/auth.js", :type=> "text/javascript"}
%script{:src=> "script/global.js", :type=> "text/javascript"}
%script{:src=> "script/ytplayer.js", :type=> "text/javascript"}
%script{:src=> "script/nodeTrackClass.js", :type=> "text/javascript"}
%script{:src=> "script/index.js", :type=> "text/javascript"}
%script{:src=> "script/settings.js", :type=> "text/javascript"}
%script{:src=> "https://apis.google.com/js/client.js?onload=googleApiClientReady"}
%script{:src=> "https://apis.google.com/js/api.js"}

%link{:href=> "style/w3.css", :rel=>"stylesheet"}
%link{:href=> "style/index.css", :rel=>"stylesheet"}
%link{:href=> "script/jquery-ui-1.12.1/jquery-ui.min.css", :rel=> "stylesheet"}


/		%script{:src=> "https://www.gstatic.com/firebasejs/3.6.1/firebase-storage.js"}

%body{:class=>"w3-content", :style=>"max-width:1300px"}

	%div{:id=> "login_page"}
		%div{:class=>"w3-row"}
			%div{:class=>"djparty-whole w3-black w3-container w3-center", :style=>"height:700px"}
				%div{:class=>"w3-padding-64"}
					%h1{}DjParty
				%button{:id=> "login-link", :class=> "pre-auth"}Allow Permissions
				%div{:id=> "login_fields", :class=>"w3-padding-64 post-auth", :hidden=> true}
					%input{:id=> "partyname", :class=>"w3-transparent w3-text-shadow djparty-white", :type=> "text", :placeholder=> "Enter the party's name"}
					%br
					%input{:id=> "partypass", :class=>"w3-transparent w3-text-shadow djparty-white", :type=> "text", :placeholder=> "Enter password"}
					%br
					%input{:id=> "username", :class=>"w3-transparent w3-text-shadow djparty-white", :type=> "text", :placeholder=> "Enter your username"}
					%button{:id=> "join_party_button", :onclick=> "create_or_join_party($('#partyname').val(), $('#partypass').val(), $('#username').val())", :class=>"w3-btn w3-btn-block w3-hover-brown w3-padding-16"}Create or join party!

	%div{:id=> "play_page", :hidden=> true}
		%div{:class=>"djparty-whole w3-indigo w3-container", :style=>"min-height:800px"}
			%button{:class=> "w3-btn-floating w3-right", :onclick=> "show_settings_page()"}⚙
			%div{:class=>"w3-padding-64 w3-center"}
				%h2{}Now Playing
				%div{:id=> "player"}
				%div
					%p{:class=> "w3-threequarter"}Up Next
					%button{:onclick=> "show_my_page()", :class=>"w3-btn w3-btn-bar w3-hover-khaki w3-padding-16"}Manage your playlist >>>
				%div{:class=>"w3-container w3-responsive"}
					%table{:id=> "list_next_tracks", :class=>"w3-table-all w3-center"}
				%button{:id=> "leave_party_button", :class=>"w3-btn w3-btn-block w3-hover-red w3-padding-16 w3-margin-top", :onclick=> "show_login_page()"}Leave Party


	%div{:id=> "my_page", :hidden=> true}
		%div{:class=>"djparty-whole w3-blue-grey w3-container w3-center", :style=>"height:700px"}
			%button{:class=> "w3-btn-floating w3-left", :onclick=> "window.history.back()"}⇦
			%div{:class=>"w3-padding-64 w3-center"}
				%h2{}My Playlist
				%div{:class=>"w3-container w3-responsive"}
					%table{:id=> "list_my_tracks", :class=>"w3-table-all w3-center"}
				%p{}Search
				%div{:class=> "w3-center"}
					%input{:id=> "search_input", :type=> "text", :placeholder=> "Search by track"}
					/ %br
					/ %input{:id=> "artist_search", :type=> "text", :placeholder=> "Search by artist"}
					/ %br
					/ %input{:id=> "album_search", :type=> "text", :placeholder=> "Search by album"}
					/ %br
					%button{:id=> "search_button", :class=>"w3-btn w3-btn-bar w3-hover-sand w3-padding-16", :onclick=> "search_song($('#search_input').val())"}Search
					%button{:id=> "clear_button", :class=>"w3-btn w3-btn-bar w3-hover-sand w3-padding-16", :onclick=> "$('#search_results').html(''); $('#search_input').val('')"}Clear
				%div{:class=>"w3-container w3-responsive "}
					%table{:id=> "search_results", :class=>"w3-table-all w3-center"}

	%div{:id=> "settings_page", :hidden=> true}
		%div{:class=>"djparty-whole w3-amber w3-container w3-center", :style=>"height:700px"}
			%button{:class=> "w3-btn-floating w3-left", :onclick=> "window.history.back()"}⇦
			%div{:class=>"w3-padding-64 w3-center"}
				%h2{}Settings
				%div{:id=> "transfer_host", :class=>"w3-container w3-responsive"}
					%input{:id=> "transfer_host_input", :class=>"djparty-input", :type=> "text", :placeholder=> "Transfer host priveleges to..."}
					%button{:id=> "transfer_host_button", :onclick=> 'transfer_host($("#transfer_host_input").val())'}Transfer

:javascript
	window.onload = function(){
	    show_login_page();
	}

	window.onhashchange = function(){
		if (party) {
			var hash = (window.location.hash).replace('#', '');
			switch(hash) {
				case "login":
					if (!$("#login_page").is(":visible")) show_login_page();
					break;
				case "play":
					if (!$("#play_page").is(":visible")) show_play_page();
					break;
				case "my":
					if (!$("#my_page").is(":visible")) show_my_page();
					break;
				case "settings":
					if (!$("#settings_page").is(":visible")) show_settings_page();
					break;
			}
		} else {
			show_login_page();
		}
	}

	$("#login_fields").keyup(function(event){
	    if(event.keyCode == 13){
	        $("#join_party_button").click();
	    }
	});
	$("#search_input").keyup(function(event){
	    if(event.keyCode == 13){
	        $("#search_button").click();
	    }
	});	



























