<div class="row">
  <h2 class="text-center">Dj Party</h2>
  <form>
    <div class="form-group">
      <input ng-model="$ctrl.partyName"type="text"class="form-control" placeholder="Enter the party name"/>
    </div>
    <div class="form-group">
      <input ng-model="$ctrl.username" type="text" class="form-control" placeholder="Enter your username"/>
    </div>
    <div class="form-group">
      <input ng-model="$ctrl.password" type="text" class="form-control" placeholder="Enter your password"/>
    </div>
  </form>
  <button class="btn btn-default center-block">Join or Create Party!</button>
</div>